* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 15px;
}

window#waybar {
  background: #22253D;
  border: 1px solid #b7c3df;
  border-radius: 10px;
}


#workspaces {
  margin: 0px 15px 0px 15px;
}

#workspaces button {
  background: transparent;
  padding: 0.5rem 0.5rem;
  font-weight: 900;
  font-size: 13pt;
  color: #40517A;
  border: none;
  border-radius: 8px;
}

#workspaces button.active {
  color: #B7C3DF;
}

#workspaces button:hover {
  color: #B7C3DF;
  box-shadow: none;
}

#window {
  color: #B7C3DF;
  font-family: "Martian Mono";
}

#clock {
  color: #B7C3DF;
  background: transparent;
}

#pulseaudio.muted {
  color: #ff0000;
  background:green;
}


#pulseaudio,
#tray,
#clock,
#custom-notification {
  color: #B7C3DF;
  margin: 0px 15px 0px 0px;
}
#mpris {
  color: #dcdcdc;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #4a4a4a;
  }
}
